.pl20 {
  padding-left: 20px;
}

.pl15 {
  padding-left: 15px;
}

.inner {
  position: relative;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.txt_category {
  font-family: MalgunGothic;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: -0.3px;
  text-align: left;
  color: #c7d0df;
}

.title_plus {
  display: flex;
  justify-content: space-between;
}
.title_plus h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.title_plus img {
  margin-top: 3px;
  width: 16px;
  height: 16px;
}

.box_ico {
  border: 1px solid #cac7c0;
  width: 175px;
  height: 198px;
  margin-right: 3px;
  margin-top: 3px;
}
.box_ico .icon_area {
  background: #fff;
}
.box_ico .icon_area a {
  text-align: center;
}
.box_ico .icon_area a img {
  display: block;
  margin: 0 auto;
  padding: 12px 0 6px 0;
}
.box_ico .icon_area a .simg_01 {
  padding: 16px 0 12px 0;
}
.box_ico .icon_area a .simg_02 {
  padding: 14px 0 9px 0;
}
.box_ico .icon_area a p {
  font-size: 16px;
  color: #444;
  font-weight: bold;
  padding-bottom: 14px;
}
.box_ico .txt_area {
  background-color: #faf4e4;
}
.box_ico .txt_area .first_txt {
  display: flex;
  justify-content: space-around;
  font-size: 12.5px;
  color: #997c68;
  font-weight: 600;
  padding: 13px 0 17px 0;
  letter-spacing: -1px;
}
.box_ico .txt_area .first_txt .span_long {
  letter-spacing: -2px;
}
.box_ico .txt_area .second_txt {
  display: flex;
  justify-content: space-around;
  padding-bottom: 21px;
  font-size: 17.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.87;
  letter-spacing: -1.13px;
  text-align: left;
  color: #997c68;
}

.thum_cont {
  text-align: center;
}
.thum_cont h1 {
  font-size: 25.5px;
  color: #fff;
  font-weight: bold;
}
.thum_cont p {
  font-size: 12.5px;
  color: #fff;
  margin-top: 12px;
}

.tag_red {
  padding: 3px 10px;
  border: 1px solid #d42525;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #d42525;
}

.tag_purple {
  padding: 3px 10px;
  border: 1px solid #9859a3;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #9859a3;
}

.header {
  border-bottom: 1px solid #7f9bba;
}
.header_top {
  padding-top: 12px;
}
.header_top .inner {
  display: flex;
  justify-content: center;
}
.header_top .inner .user_info {
  height: 27px;
  margin-right: 10px;
}
.header_top .inner .user_info span {
  font-size: 12px;
  color: #1e1f21;
  font-weight: bold;
  vertical-align: middle;
}
.header_top .inner .user_select {
  margin-right: 20px;
}
.header_top .inner .link_area {
  margin-right: 20px;
}
.header_top .inner .link_area ul {
  display: flex;
  height: 27px;
}
.header_top .inner .link_area ul li {
  color: #808080;
  font-size: 14px;
  line-height: 27px;
}
.header_top .inner .link_area ul li::before {
  content: "";
  height: 15px;
  border-left: 1px solid #808080;
  margin-right: 10px;
  margin-left: 10px;
}
.header_top .inner .link_area ul li:first-of-type::before {
  content: none;
}
.header_top .inner .link_area ul li:first-of-type {
  padding-left: 0;
  margin-left: 0;
}
.header_top .inner .info_area {
  margin-right: 18px;
}
.header_top .inner .info_area ul {
  display: flex;
}
.header_top .inner .info_area ul li {
  padding: 5px 10px;
  color: #7f4014;
  font-size: 14px;
  border: 1px solid #edc02c;
  border-radius: 3px;
}
.header_top .inner .info_area ul li:first-of-type {
  margin-right: 12px;
}
.header_top .inner .language_select {
  position: relative;
}
.header_top .inner .language_select input[type=submit] {
  background: url(/img/search.png) no-repeat;
  text-indent: -9999em;
  position: absolute;
  top: 50%;
  right: -43px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header nav {
  position: relative;
  padding: 28px 0 30px 0;
}
.header nav .inner {
  position: static;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.header nav .inner .header_nav .navTop {
  display: flex;
}
.header nav .inner .header_nav .navTop .nav_depth01 .first_a {
  margin: 0 44px;
  font-size: 18.5px;
  font-weight: bold;
  color: #444;
  letter-spacing: -1.85px;
  line-height: 36px;
}
.header nav .inner .header_nav .navTop .nav_depth01 .first_a:hover {
  color: #ed164b;
  padding-bottom: 2px;
  border-bottom: 2px solid #ed164b;
}
.header nav .navBottom {
  width: 100%;
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 99999;
  background-color: #fff;
  border-bottom: 1px solid #7f9bba;
}
.header nav .navBottom .nav_depth02 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 230px;
}
.header nav .navBottom .nav_depth02-list {
  height: 172px;
  border-right: 1px solid #e5e5e5;
  padding-left: 10px;
}
.header nav .navBottom .nav_depth02-list .plan {
  padding-right: 35px;
}
.header nav .navBottom .nav_depth02-list .courseApply {
  padding-right: 22px;
}
.header nav .navBottom .nav_depth02-list .edu {
  padding-right: 43px;
}
.header nav .navBottom .nav_depth02-list .community {
  padding-right: 75px;
}
.header nav .navBottom .nav_depth02-list span {
  font-size: 13.5px;
  color: #777;
  text-align: left;
  letter-spacing: -0.7px;
  line-height: 30px;
}
.header nav .navBottom .nav_depth02-list span:hover {
  color: #ed164b;
  padding-bottom: 2px;
  border-bottom: 2px solid #ed164b;
}
.header nav .navBottom .nav_depth02-list:last-child {
  border-right: none;
}
.header nav:hover .navBottom {
  display: block;
}

.main .gray_area {
  background-image: url(/img/gray_bg.png);
  height: 446px;
}
.main .gray_area .inner .article_01 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.main .gray_area .inner .article_01 .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  min-width: 534px;
  margin-right: 35px;
}
.main .gray_area .inner .article_01 .content .box_1 {
  padding: 21px 0 0 29px;
  width: 175px;
  height: 194px;
  margin-right: 3px;
  background: #e5585e;
}
.main .gray_area .inner .article_01 .content .box_1 h1 {
  color: #fff;
  font-size: 25.5px;
  font-weight: 600;
}
.main .gray_area .inner .article_01 .content .box_2 {
  padding: 21px 35px 30px 29px;
  width: 352px;
  height: 194px;
  background: #475c9b;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #394c84;
  padding-bottom: 14px;
  margin-bottom: 5px;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus img {
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category {
  display: flex;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category ul li .txt_category {
  margin-right: 11px;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category ul li .txt_white {
  width: 177px;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.19;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .gray_area .inner .article_01 .content_02 {
  width: 425px;
  padding: 20px 35px 25px 35px;
  background: #fff;
}
.main .gray_area .inner .article_01 .content_02 .title_plus {
  border-bottom: 1px solid #d8dadb;
  padding-bottom: 14px;
}
.main .gray_area .inner .article_01 .content_02 .title_plus h3 {
  color: #444;
}
.main .gray_area .inner .article_01 .content_02 .top_cont {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.main .gray_area .inner .article_01 .content_02 .top_cont .txt_area .p_01 {
  margin-bottom: 10px;
  font-size: 14.5px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: -0.73px;
  text-align: left;
  color: #003875;
}
.main .gray_area .inner .article_01 .content_02 .top_cont .txt_area .p_02 {
  width: 210px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.7px;
  text-align: left;
  color: #626262;
  display: block;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.main .gray_area .inner .article_01 .content_02 .txt {
  margin-top: 12px;
  font-size: 14px;
  color: #626262;
  line-height: 20px;
}
.main .gray_area .inner .article_01 .content_02 .txt ul li p {
  padding: 10px 0 10px 0;
  position: relative;
}
.main .gray_area .inner .article_01 .content_02 .txt ul li .new_cont::after {
  content: "N";
  position: absolute;
  top: 50%;
  left: 155px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  line-height: 15px;
  padding-right: 0;
  background-color: #f33;
  font-family: NanumSquare, sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: -0.6px;
  text-align: center;
}
.main .gray_area .inner .article_01 .content_02 .txt ul li::before {
  content: "";
  display: block;
  border-bottom: 1px solid #ededed;
}
.main .gray_area .inner .article_01 .content_02 .txt ul li:first-of-type::before {
  content: none;
}
.main .flexArea_01 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 990px;
  margin-right: 35px;
}
.main .flexArea_01 > div {
  margin-top: 35px;
}
.main .flexArea_01 .apply {
  width: 530px;
  height: 284px;
  padding: 23px 35px 35px;
  margin-right: 35px;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #dcdcdc;
}
.main .flexArea_01 .apply .title_plus {
  padding-bottom: 10px;
}
.main .flexArea_01 .apply .title_plus h3 {
  color: #444;
}
.main .flexArea_01 .apply .container {
  min-width: 462px;
  margin: 0 auto;
}
.main .flexArea_01 .apply .container .tabs {
  margin: 0;
  padding: 0;
}
.main .flexArea_01 .apply .container .tabs li {
  width: 230px;
  height: 40px;
  margin-left: -5px;
  background: #d7dee6;
  font-size: 16px;
  color: #6a7a8a;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.main .flexArea_01 .apply .container .tabs .tab-link_current {
  background: #fff;
  border: 3px solid #475c9b;
  border-bottom: none;
  color: #475c9b;
}
.main .flexArea_01 .apply .container .tab-cont {
  display: none;
  margin-top: 10px;
  background: #fff;
}
.main .flexArea_01 .apply .container .current {
  display: block;
  background: #fff;
}
.main .flexArea_01 .apply .container .current li {
  width: 455px;
  text-align: left;
  font-size: 15px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .flexArea_01 .myCourse {
  width: 425px;
  height: 284px;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
  background-color: #f8fafb;
  border: solid 1px #dcdcdc;
}
.main .flexArea_01 .myCourse .title_plus {
  padding: 23px 35px 10px 35px;
}
.main .flexArea_01 .myCourse .title_plus h3 {
  color: #444;
}
.main .flexArea_01 .myCourse .container_2 {
  min-width: 425px;
  margin: 0 auto;
}
.main .flexArea_01 .myCourse .container_2 .tabs {
  margin-left: 38px;
  margin-bottom: -10px;
  padding: 0;
}
.main .flexArea_01 .myCourse .container_2 .tabs li {
  border-right: 1px solid #fff;
  width: 130px;
  height: 40px;
  margin-left: -5px;
  background: #d7dee6;
  font-size: 16px;
  color: #6a7a8a;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.main .flexArea_01 .myCourse .container_2 .tabs li:last-child {
  border-right: none;
}
.main .flexArea_01 .myCourse .container_2 .tabs .tab-link_current {
  border-right: none;
  background-color: #eaeef2;
  border-bottom: none;
  color: #475c9b;
}
.main .flexArea_01 .myCourse .container_2 .tab-cont {
  display: none;
  margin-top: 10px;
  background: #fff;
}
.main .flexArea_01 .myCourse .container_2 .tab-cont ul {
  padding-top: 10px;
  padding-bottom: 25px;
}
.main .flexArea_01 .myCourse .container_2 .tab-cont ul li {
  text-align: left;
  font-size: 15px;
  line-height: 36px;
  display: flex;
}
.main .flexArea_01 .myCourse .container_2 .tab-cont ul li .txt_category {
  color: #818181;
}
.main .flexArea_01 .myCourse .container_2 .tab-cont ul li .txt_white {
  text-align: left;
  margin-left: 20px;
}
.main .flexArea_01 .myCourse .container_2 .current {
  display: block;
  padding: 0 35px 0px 35px;
  background: #eaeef2;
}
.main .flexArea_01 .notice {
  width: 530px;
  height: 280px;
  padding: 23px 35px 35px;
  margin-right: 35px;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
}
.main .flexArea_01 .notice .title_plus {
  border-bottom: 1px solid #d8dadb;
  padding-bottom: 14px;
}
.main .flexArea_01 .notice .title_plus h3 {
  color: #444;
}
.main .flexArea_01 .notice .notice_list {
  margin-top: 10px;
}
.main .flexArea_01 .notice .notice_list li {
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}
.main .flexArea_01 .notice .notice_list li a {
  font-size: 14.5px;
  color: #666;
}
.main .flexArea_01 .notice .notice_list li span {
  font-size: 15px;
  color: #aaa;
}
.main .flexArea_01 .class {
  width: 425px;
  height: 280px;
  padding: 23px 35px 35px;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
}
.main .flexArea_01 .class .title_plus {
  border-bottom: 1px solid #d8dadb;
  padding-bottom: 14px;
}
.main .flexArea_01 .class .title_plus h3 {
  color: #444;
}
.main .flexArea_01 .class .class_cont .txt_green {
  padding: 46px 0 17px 0;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: -1.3px;
  text-align: center;
  color: #269c36;
}
.main .flexArea_01 .class .class_cont .txt_translate {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: center;
  color: #505055;
}
.main .flexArea_01 .class .class_cont .more_btn {
  margin-top: 57px;
}
.main .flexArea_01 .class .class_cont .more_btn a {
  display: block;
  height: 27px;
  line-height: 50px;
  border-radius: 4px;
  text-align: center;
}
.main .flexArea_01 .class .class_cont .more_btn a span {
  padding: 7px 22px 8px 24px;
  background-color: #666a75;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
.main .flexArea_02 {
  margin: 37px 0 82px 0;
}
.main .flexArea_02 .thum_area {
  display: flex;
  justify-content: center;
}
.main .flexArea_02 .thum_area .thum_cont {
  margin-right: 15px;
}
.main .flexArea_02 .thum_area .thum_cont a {
  position: relative;
}
.main .flexArea_02 .thum_area .thum_cont a .txtArea_01 {
  position: absolute;
  top: 14px;
  left: -99px;
}
.main .flexArea_02 .thum_area .thum_cont a .txtArea_01 p::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  padding-top: 5px;
}
.main .flexArea_02 .thum_area .thum_cont a .txtArea_02 {
  position: absolute;
  top: 14px;
  left: -113px;
}
.main .flexArea_02 .thum_area .thum_cont a .txtArea_02 p::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  padding-top: 5px;
}
.main .flexArea_02 .thum_area .thum_cont a .txtArea_03 p {
  color: #45515d !important;
  font-weight: 600;
  position: absolute;
  top: 14px;
  left: -107px;
}
.main .flexArea_02 .thum_area div:nth-of-type(3) {
  margin-right: 0;
}

footer {
  padding: 35px 0 40px 0;
  border-top: 1px solid #d0d0d0;
}
footer .footer_cont {
  display: flex;
  justify-content: center;
}
footer .footer_cont .footer_left {
  margin-right: 25px;
}
footer .footer_cont .footer_mid p {
  font-size: 12.5px;
  color: #666;
  text-align: left;
}
footer .footer_cont .footer_mid .txt_address {
  margin-bottom: 25px;
}
footer .footer_cont .footer_mid .txt_warn {
  margin-bottom: 25px;
}

/*# sourceMappingURL=park.css.map */
