.inner {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.txt_category {
  font-family: MalgunGothic;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: -0.3px;
  text-align: left;
  color: #c7d0df;
}

.box_ico {
  border: 1px solid #cac7c0;
  width: 175px;
  height: 198px;
  margin-right: 3px;
}
.box_ico .icon_area {
  background: #fff;
}
.box_ico .icon_area a {
  text-align: center;
}
.box_ico .icon_area a img {
  display: block;
  margin: 0 auto;
  padding: 12px 0 6px 0;
}
.box_ico .icon_area a .simg_01 {
  padding: 16px 0 12px 0;
}
.box_ico .icon_area a .simg_02 {
  padding: 14px 0 9px 0;
}
.box_ico .icon_area a p {
  font-size: 16px;
  color: #444;
  font-weight: bold;
  padding-bottom: 14px;
}
.box_ico .txt_area {
  background-color: #faf4e4;
}
.box_ico .txt_area .first_txt {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: #997c68;
  font-weight: 600;
  padding: 10px 0 13px 0;
  letter-spacing: -1px;
}
.box_ico .txt_area .first_txt .span_long {
  letter-spacing: -2px;
}
.box_ico .txt_area .second_txt {
  display: flex;
  justify-content: space-around;
  padding-bottom: 21px;
  font-size: 22.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.87;
  letter-spacing: -1.13px;
  text-align: left;
  color: #997c68;
}

.header_top {
  padding-top: 12px;
}
.header_top .inner {
  display: flex;
  justify-content: center;
}
.header_top .inner .user_info {
  height: 27px;
  margin-right: 10px;
}
.header_top .inner .user_info span {
  font-size: 12px;
  color: #1e1f21;
  font-weight: bold;
  vertical-align: middle;
}
.header_top .inner .user_select {
  margin-right: 20px;
}
.header_top .inner .link_area {
  margin-right: 20px;
}
.header_top .inner .link_area ul {
  display: flex;
  height: 27px;
}
.header_top .inner .link_area ul li {
  color: #808080;
  font-size: 14px;
  line-height: 27px;
}
.header_top .inner .link_area ul li::before {
  content: "";
  height: 15px;
  border-left: 1px solid #808080;
  margin-right: 10px;
  margin-left: 10px;
}
.header_top .inner .link_area ul li:first-of-type::before {
  content: none;
}
.header_top .inner .link_area ul li:first-of-type {
  padding-left: 0;
  margin-left: 0;
}
.header_top .inner .info_area {
  margin-right: 18px;
}
.header_top .inner .info_area ul {
  display: flex;
}
.header_top .inner .info_area ul li {
  padding: 5px 10px;
  color: #7f4014;
  font-size: 14px;
  border: 1px solid #edc02c;
  border-radius: 3px;
}
.header_top .inner .info_area ul li:first-of-type {
  margin-right: 12px;
}
.header_top .inner .language_select {
  position: relative;
}
.header_top .inner .language_select input[type=submit] {
  background: url(/img/search.png) no-repeat;
  text-indent: -9999em;
  position: absolute;
  top: 50%;
  right: -43px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.header .nav .inner .gnb nav ul {
  position: static;
  display: flex;
  align-items: stretch;
  justify-content: start;
}

.main .gray_area {
  background-image: url(/img/gray_bg.png);
  height: 446px;
}
.main .gray_area .inner .article_01 .content {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  min-width: 534px;
  margin-right: 35px;
}
.main .gray_area .inner .article_01 .content .box_1 {
  padding: 21px 0 0 29px;
  width: 175px;
  height: 194px;
  margin-right: 3px;
  background: #e5585e;
}
.main .gray_area .inner .article_01 .content .box_1 h1 {
  color: #fff;
  font-size: 25.5px;
  font-weight: 600;
}
.main .gray_area .inner .article_01 .content .box_2 {
  padding: 21px 35px 30px 29px;
  width: 352px;
  height: 194px;
  background: #475c9b;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus {
  display: flex;
  justify-content: space-between;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.main .gray_area .inner .article_01 .content .box_2 .title_plus img {
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category {
  display: flex;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category ul li .txt_category {
  margin-right: 11px;
}
.main .gray_area .inner .article_01 .content .box_2 .txt_category ul li .txt_white {
  width: 177px;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.19;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=park.css.map */
