// 공통
.pl20 {
    padding-left: 20px;
}

.pl15 {
    padding-left: 15px;
}

.inner {
    position: relative;
    width: 990px;
    margin: 0 auto;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first_txt {
    font-size: 12.5px;
    color: #997c68;
    font-weight: 600;
    padding: 13px 0 17px 0;
    letter-spacing: -1px;

}

.second_txt {
    padding-bottom: 21px;
    font-size: 17.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: -1.13px;
    color: #997c68;
}

.p_long {
    letter-spacing: -2px;
}

.new_cont::after {
    content: "N";
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-left: 5px;
    padding-right: 0;
    background-color: #f33;
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: -0.6px;
    text-align: center;
}

.txt_category {
    font-family: MalgunGothic;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.92;
    letter-spacing: -0.3px;
    text-align: left;
    color: #c7d0df;
}

.title_plus {
    display: flex;
    justify-content: space-between;

    h3 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    img {
        margin-top: 3px;
        width: 16px;
        height: 16px;
    }
}

.box_ico {
    border: 1px solid #cac7c0;
    width: 175px;
    height: 198px;
    margin-right: 3px;
    margin-top: 3px;

    .icon_area {
        background: #fff;

        & a {
            text-align: center;

            img {
                display: block;
                margin: 0 auto;
                padding: 12px 0 6px 0;
            }

            .simg {
                &_01 {
                    padding: 16px 0 12px 0;
                }

                &_02 {
                    padding: 14px 0 9px 0;
                }
            }

            p {
                font-size: 16px;
                color: #444;
                font-weight: bold;
                padding-bottom: 14px;
            }
        }
    }

    .txt_area {
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: #faf4e4;

        >ul {
            margin-right: 10px;
        }
    }
}

.thum_cont {
    text-align: center;

    h1 {
        font-size: 25.5px;
        color: #fff;
        font-weight: bold;
    }

    p {
        font-size: 12.5px;
        color: #fff;
        margin-top: 12px;
    }
}

.tag_red {
    padding: 3px 10px;
    border: 1px solid #d42525;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #d42525;
}

.tag_purple {
    padding: 3px 10px;
    border: 1px solid #9859a3;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #9859a3;
}

// 헤더
.header {
    border-bottom: 1px solid #7f9bba;

    &_top {
        padding-top: 12px;

        .inner {
            display: flex;
            justify-content: center;

            .user_info {
                height: 27px;
                margin-right: 10px;

                span {
                    font-size: 12px;
                    color: #1e1f21;
                    font-weight: bold;
                    vertical-align: middle;
                }
            }

            .user_select {
                margin-right: 20px;
            }

            .link_area {
                margin-right: 20px;

                ul {
                    display: flex;
                    height: 27px;

                    li {
                        color: #808080;
                        font-size: 14px;
                        line-height: 34px;
                    }

                    li::before {
                        content: '';
                        height: 15px;
                        border-left: 1px solid #808080;
                        margin-right: 10px;
                        margin-left: 10px;
                    }

                    li:first-of-type::before {
                        content: none;
                    }

                    li:first-of-type {
                        padding-left: 0;
                        margin-left: 0;

                    }
                }
            }

            .info_area {
                margin-right: 18px;

                ul {
                    display: flex;

                    li {
                        padding: 5px 10px;
                        ;
                        color: #7f4014;
                        font-size: 14px;
                        border: 1px solid #edc02c;
                        border-radius: 3px;
                    }

                    li:first-of-type {
                        margin-right: 12px;
                    }
                }
            }

            .language_select {
                position: relative;

                input[type=submit] {
                    background: url(/img/search.png) no-repeat;
                    text-indent: -9999em;
                    position: absolute;
                    top: 50%;
                    right: -43px;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
    }

    // 네비게이션
    nav {
        position: relative;
        padding: 28px 0 30px 0;

        .inner {
            position: static;
            display: flex;
            align-items: stretch;
            justify-content: center;

            .header_nav {
                .navTop {
                    display: flex;

                    .nav_depth01 {
                        .first_a {
                            margin: 0 44px;
                            font-size: 18.5px;
                            font-weight: bold;
                            color: #444;
                            letter-spacing: -1.85px;
                            line-height: 36px;
                        }

                        .first_a:hover {
                            color: #ed164b;
                            padding-bottom: 2px;
                            border-bottom: 2px solid #ed164b;
                        }

                    }
                }
            }
        }

        .navBottom {
            width: 100%;
            display: none;
            position: absolute;
            top: 65px;
            left: 0;
            z-index: 99999;
            background-color: #fff;
            border-bottom: 1px solid #7f9bba;

            .nav_depth02 {
                display: flex;
                justify-content: center;
                padding-top: 50px;
                padding-bottom: 40px;
                padding-left: 160px;
                min-height: 230px;

                &-list {
                    min-width: 150px;
                    height: 172px;
                    border-right: 1px solid #e5e5e5;
                    padding-left: 10px;
                    .courseApply {
                        padding-right: 22px;
                    }
                    span {
                        font-size: 13.5px;
                        color: #777;
                        text-align: left;
                        letter-spacing: -0.7px;
                        line-height: 30px;
                    }

                    span:hover {
                        color: #ed164b;
                        padding-bottom: 2px;
                        border-bottom: 2px solid #ed164b;
                    }
                }

                &-list:last-child {
                    border-right: none;
                }

            }
        }
    }

    nav:hover {
        .navBottom {
            display: block;
        }
    }
}

// 메인
.main {
    .gray_area {
        background-image: url(/img/gray_bg.png);
        height: 446px;

        .inner {
            .article_01 {
                display: flex;
                justify-content: center;
                padding-top: 25px;

                .content {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 40%;
                    min-width: 534px;
                    margin-right: 35px;

                    .box {
                        &_1 {
                            padding: 21px 0 0 29px;
                            width: 175px;
                            height: 194px;
                            margin-right: 3px;
                            background: #e5585e;

                            h2 {
                                color: #fff;
                                font-size: 25.5px;
                                font-weight: 600;
                            }
                        }

                        &_2 {
                            padding: 21px 35px 30px 29px;
                            width: 352px;
                            height: 194px;
                            background: #475c9b;

                            .title_plus {
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid #394c84;
                                padding-bottom: 14px;
                                margin-bottom: 5px;

                                h3 {
                                    color: #fff;
                                    font-size: 20px;
                                    font-weight: bold;
                                }

                                img {
                                    margin-top: 3px;
                                    width: 16px;
                                    height: 16px;
                                }
                            }

                            .txt_cat {
                                display: flex;

                                ul {
                                    li {
                                        display: flex;

                                        .txt_category {
                                            min-width: 75px;
                                            margin-right: 32px;
                                        }

                                        .txt_white {
                                            font-size: 16px;
                                            font-weight: normal;
                                            line-height: 2.19;
                                            letter-spacing: -0.8px;
                                            text-align: left;
                                            color: #fff;
                                            display: block;
                                        }

                                        .ellipsis {
                                            width: 179px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .content_02 {
                    width: 425px;
                    padding: 20px 35px 25px 35px;
                    background: #fff;

                    .title_plus {
                        border-bottom: 1px solid #d8dadb;
                        padding-bottom: 14px;

                        h3 {
                            color: #444;

                        }
                    }

                    .top_cont {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 17px;

                        .txt_area {
                            .p_01 {
                                margin-bottom: 10px;
                                font-size: 14.5px;
                                font-weight: bold;
                                font-stretch: normal;
                                line-height: 1.38;
                                letter-spacing: -0.73px;
                                text-align: left;
                                color: #003875;
                            }

                            .p_02 {
                                width: 210px;
                                font-size: 14px;
                                font-weight: normal;
                                font-stretch: normal;
                                line-height: 1.29;
                                letter-spacing: -0.7px;
                                text-align: left;
                                color: #626262;

                            }

                            .ellipsis {
                                white-space: unset;
                                display: block;
                                word-break: break-word;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical
                            }
                        }
                    }

                    .txt {
                        margin-top: 12px;
                        font-size: 14px;
                        color: #626262;
                        line-height: 20px;

                        ul {
                            li {
                                span {
                                    display: inline-block;
                                    padding: 10px 0 10px 0;
                                    position: relative;
                                }

                                .ellipsis {
                                    width: 325px;
                                }

                                .new_cont {
                                    display: inline-block;
                                    margin-top: 13px;
                                }
                            }

                            li::before {
                                content: '';
                                display: block;
                                border-bottom: 1px solid #ededed;
                            }

                            li:first-of-type::before {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .flexArea_01 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-width: 990px;
        margin-right: 35px;

        >div {
            margin-top: 35px;
        }

        .apply {
            width: 530px;
            height: 284px;
            padding: 23px 35px 35px;
            margin-right: 35px;
            box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
            border: solid 1px #dcdcdc;

            .title_plus {
                padding-bottom: 10px;

                h3 {
                    color: #444;
                }
            }

            .tab_menu {
                min-width: 462px;
                margin: 0 auto;

                .list {
                    margin: 0;
                    padding: 0;

                    li {
                        width: 230px;
                        height: 40px;
                        margin-left: -5px;
                        background: #d7dee6;
                        font-size: 16px;
                        color: #6a7a8a;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        padding: 10px 15px;
                        cursor: pointer;
                        word-spacing: -2px;
                    }

                    .is_on {
                        background: #fff;
                        border: 3px solid #475c9b;
                        border-bottom: none;
                        color: #475c9b;
                    }

                    .is_on::before {
                        display: inline-block;
                        margin-top: 6px;
                        margin-right: 5px;
                        content: "";
                        background-image: url(/img/arrow_blue.png);
                        width: 6px;
                        height: 10px;
                    }

                }

                .cont_area {
                    // display: none;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 15px;
                    line-height: 36px;

                    .ellipsis {
                        display: inline-block;
                        max-width: 348px;
                        text-align: left;
                    }

                    #tab2 {
                        display: none;
                    }
                }
            }
        }

        .myCourse {
            width: 425px;
            height: 284px;
            box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
            background-color: #f8fafb;
            border: solid 1px #dcdcdc;

            .title_plus {
                padding: 23px 35px 10px 35px;

                h3 {
                    color: #444;
                }
            }

            .tab_menu2 {
                min-width: 425px;
                margin: 0 auto;

                .list {
                    margin-left: 38px;
                    margin-bottom: -10px;
                    padding: 0;

                    li {
                        border-right: 1px solid #fff;
                        min-width: 126px;
                        height: 40px;
                        margin-left: -5px;
                        background: #d7dee6;
                        font-size: 16px;
                        color: #6a7a8a;
                        font-weight: bold;
                        text-align: center;
                        display: inline-block;
                        padding: 10px 15px;
                        cursor: pointer;
                        word-spacing: -2px;
                    }

                    li:last-child {
                        border-right: none;
                    }

                    .is_on {
                        min-width: 138px;
                        border-right: none;
                        background-color: #eaeef2;
                        border-bottom: none;
                        color: #444;
                    }

                    .is_on::before {
                        display: inline-block;
                        margin-top: 6px;
                        margin-right: 5px;
                        content: "";
                        background-image: url(/img/arrow_gray.png);
                        width: 6px;
                        height: 10px;
                    }

                }

                .cont_area2 {
                    margin-top: 10px;
                    background: #fff;

                    ul {
                        padding-top: 10px;
                        padding-bottom: 25px;

                        li {
                            text-align: left;
                            font-size: 15px;
                            line-height: 36px;
                            display: flex;

                            .txt_category {
                                color: #818181;
                            }

                            .txt_white {
                                width: 270px;
                                text-align: left;
                                margin-left: 20px;
                            }
                        }
                    }

                }

                .cont {
                    display: block;
                    padding: 0 35px 0px 35px;
                    background: #eaeef2;
                }

                #tab4,
                #tab5 {
                    display: none;
                }
            }
        }

        .notice {
            width: 530px;
            height: 280px;
            padding: 23px 35px 35px;
            margin-right: 35px;
            background-color: #f9f9f9;
            border: 1px solid #dcdcdc;
            box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);

            .title_plus {
                border-bottom: 1px solid #d8dadb;
                padding-bottom: 14px;

                h3 {
                    color: #444;
                }
            }

            .notice_list {
                margin-top: 10px;

                li {
                    display: flex;
                    justify-content: space-between;
                    line-height: 36px;

                    a {
                        font-size: 14.5px;
                        color: #666;
                    }

                    .ellipsis {
                        width: 350px;
                    }

                    span {
                        font-size: 15px;
                        color: #aaa;
                    }
                }
            }
        }

        .class {
            width: 425px;
            height: 280px;
            padding: 23px 35px 35px;
            background-color: #f9f9f9;
            border: 1px solid #dcdcdc;
            box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);

            .title_plus {
                border-bottom: 1px solid #d8dadb;
                padding-bottom: 14px;

                h3 {
                    color: #444;
                }
            }

            .class_cont {
                .txt {
                    &_green {
                        padding: 46px 0 17px 0;
                        font-size: 26px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 0.77;
                        letter-spacing: -1.3px;
                        text-align: center;
                        color: #269c36;
                    }

                    &_translate {
                        font-size: 16px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: -0.4px;
                        text-align: center;
                        color: #505055;
                    }
                }

                .more_btn {
                    margin-top: 57px;

                    a {
                        display: block;
                        height: 27px;
                        line-height: 50px;
                        border-radius: 4px;
                        text-align: center;

                        span {
                            padding: 7px 22px 8px 24px;
                            background-color: #666a75;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 1.67;
                            letter-spacing: -0.3px;
                            text-align: center;
                            color: #fff;
                            border-radius: 3px;
                        }
                    }
                }
            }

        }
    }

    .flexArea_02 {
        margin: 37px 0 82px 0;

        .thum_area {
            display: flex;
            justify-content: center;

            .thum_cont {
                margin-right: 15px;

                a {
                    position: relative;

                    .txtArea {
                        &_01 {
                            position: absolute;
                            top: 14px;
                            left: -99px;

                            p::after {
                                content: '';
                                display: block;
                                border-bottom: 1px solid #fff;
                                padding-top: 5px;
                            }
                        }

                        &_02 {
                            position: absolute;
                            top: 14px;
                            left: -113px;

                            p::after {
                                content: '';
                                display: block;
                                border-bottom: 1px solid #fff;
                                padding-top: 5px;
                            }
                        }

                        &_03 {
                            p {
                                color: #45515d !important;
                                font-weight: 600;
                                position: absolute;
                                top: 14px;
                                left: -107px;
                            }
                        }
                    }
                }
            }
        }

        .thum_area div:nth-of-type(3) {
            margin-right: 0;
        }
    }
}

// 푸터
footer {
    padding: 35px 0 40px 0;
    border-top: 1px solid #d0d0d0;

    .footer_cont {
        display: flex;
        justify-content: center;

        .footer {
            &_left {
                margin-right: 25px;
            }

            &_mid {
                address {
                    font-size: 12.5px;
                    color: #666;
                    text-align: left;
                }

                .txt {
                    &_address {
                        margin-bottom: 25px;
                    }

                    &_warn {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}